.main {
    margin-top: 10vh;
}

.plant-detail-body {
    display: flex;
    justify-content: space-around;
}

.body-text {
    display: flex;
    flex-direction: column;
    width: 60vw;
    font-size: 1vmax;
}

.care-guide {
    margin: 5vh 3.6vw;
    padding: 2vh 2vw;
    width: 90vw;
}

.care-guide-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vmax;
}

.text-head {
    display: flex;
}

.heart {
    margin-left: 1vw;
    margin-top: 8px;
}

.heart:hover {
    cursor: pointer;
}

.care-card {
    background-color: #d1e7dd;
    padding: 15px;
    border-radius: 20px;
}

.bold {
    font-weight: bold;
}

.care-guide-secondary-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vmax;
    margin-top: 1vmax;
}
