.navbar {
    background-color: #0f5132;
}

.navbar-contents {
    display: flex;
    flex-direction: column;
    height: 12vh;
    justify-content: space-between;
    padding: 10px;
}

.icon {
    max-height: 2vmax;
    margin-left: 1vmax;
    margin-top: -1.5vmax;
}

.top {
    display: flex;
    width: 95vw;
    justify-content: space-between;
}

#username {
    color: white;
}

#sitename {
    font-size: 27px;
    font-weight: bold;
}