.navbar {
    background-color: #0f5132;
}

.navbar-contents {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    padding: 10px;
    height: 100%; 
}

.icon {
    max-height: 2vmax;
    margin-left: 1vmax;
    margin-top: -1.5vmax;
}

.top {
    display: flex;
    width: 100%; 
    justify-content: space-between;
}

#username {
    color: white;
}

#sitename {
    font-size: 27px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .navbar-contents {
        flex-direction: row;
        align-items: center; 
    }
}
